////
/// Thyme grid templates
///
/// @group thyme
////


// Generates classes for each thyme grid template
@each $-key, $-map in $thyme-grid-templates {
  [data-thyme-grid-template="#{map-get($-map, code)}"],
  .thyme-grid-template-#{$-key} {
    @media (max-width: thyme-breakpoint(sm-max)) {
      // Set dash elements to fill the space
      @each $-n in map-get($-map, dash-slots) {
        > :nth-child(#{$-n}) {
          width: 100%;
        }
      }
    }

    @media (min-width: thyme-breakpoint(md-min)) {
      grid-template-columns: map-get($-map, pattern);
      // Set dot elements to align at start
      // unless inside a container with vertical align specified
      @each $-n in map-get($-map, dot-slots) {
        &:not([class*="--vertical-align-"]) > :nth-child(#{$-n}) {
          align-self: center;
        }
      }
    }
  }
}
